@model Shop.Northwind.MvcWebUI.Areas.Admin.Models.ProductListViewModel

@{
    ViewBag.Title = "title";
    Layout = "../_Layout.cshtml";
}


<h2>Products</h2>

@if (TempData["add"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["add"]
    </div>
}
@if (TempData["delete"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["delete"]
    </div>
}
@if (TempData["update"] != null)
{
    <div class="alert alert-warning" role="alert">
        @TempData["update"]
    </div>
}
<br />
<a class="btn btn-success" asp-controller="Manage" asp-action="Add">Add a new product</a>
<br />
<br />
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Category</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Units In Stock</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.GetListView)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.CategoryName</td>
                    <td>@item.UnitPrice</td>
                    <td>@item.UnitsInStock
                    <td>
                    <td class="text-right"><a class="btn btn-sm btn-warning" asp-controller="Manage" asp-action="Update" asp-route-productId="@item.ProductId">Update</a></td>
                    <td class="text-right"><a class="btn btn-sm btn-danger" asp-controller="Manage" asp-action="Delete" asp-route-productId="@item.ProductId">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
